<a href="https://colab.research.google.com/github/Nikita0190/assignment-1-/blob/main/Python_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#QUESTION 1 
L=[11,12,13,14]
L.append(50)
L.append(60)
print ("List after adding=",L)

del L[2]
del L[2]
print ("List after deleting=",L)

List after adding= [11, 12, 13, 14, 50, 60]
List after deleting= [11, 12, 50, 60]

In [ ]:
L=[11,12,13,14,15]
L.sort()
print ("list in ascending order-->",L)
L.sort(reverse=True)
print ("list in descending order -->",L)

list in ascending order--> [11, 12, 13, 14, 15]
list in descending order --> [15, 14, 13, 12, 11]

In [ ]:
L=[11,12,13,14]
print ("Original lsit -->",13 in L)
if (13 in L) == True:
    print ('Present')
else :
    print ('Not Present')

Original lsit --> True
Present

In [ ]:
L=[11,12,13,14]
print ( "Number of elements in list are :",len(L))

Number of elements in list are : 4

In [ ]:
L=[11,12,13,14]
print (" sum of elements =",sum(L))

 sum of elements = 50

In [ ]:
def solve(L):
   return sum([i for i in L if i % 2 == 1])
L = [11,12,13,14,15]
print(solve(L))

39

In [ ]:
L = [11,12,13,14]

L = sum([num for num in L if num % 2 == 0])

print(L)

26

In [ ]:
L = [11,12,13,14]
print('L before clear:',L)

L.clear()
print('L after clear:', L)

L before clear: [11, 12, 13, 14]
L after clear: []

In [ ]:
L=[11,12,13,14]
del L(L)
print (L)

SyntaxError: cannot delete function call (3271501036.py, line 2)

In [ ]:
#QUESTION 2 

D = { 1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8
print (" After adding elemnet:",D)

 After adding elemnet: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D = { 1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
del D[2]
print("After deleting element 2:",D)

After deleting element 2: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
D = { 1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print ("Original dictionary:",D)
print ("Is key 6 present:",6 in D)

Original dictionary: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Is key 6 present: False

In [ ]:
D = { 1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
count = len(D.keys())
print(count)

5

In [ ]:
D = { 1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[3] = 7.1
print ("After Updating (4)  --> ",D)

After Updating (4)  -->  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [ ]:
D = { 1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D.clear()
print ("after clearing",D)

after clearing {}

In [ ]:
#question 3 
s1 = set([10,20,30,40,50,60])
s2 = set([40,50,60,70,80,90])
s1.add(55)
s1.add(66)
print (" set after adding values:",s1)

 set after adding values: {66, 40, 10, 50, 20, 55, 60, 30}

In [ ]:
s1 = set([10,20,30,40,50,60])
s2 = set([40,50,60,70,80,90])
s1.remove (10)
s1.remove(30)
print ("set after deleting element:",s1)

set after deleting element: {40, 50, 20, 60}

In [ ]:
s1 = set([10,20,30,40,50,60])
s2 = set([40,50,60,70,80,90])
print ("union of s1 and s2 :",s1.union(s2))

union of s1 and s2 : {70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
s1 = set([10,20,30,40,50,60])
s2 = set([40,50,60,70,80,90])
print ("intersection of s1 and s2:",s1.intersection(s2))

intersection of s1 and s2: {40, 50, 60}

In [ ]:
print ("difference between s1 and s2:",s1.difference(s2))

difference between s1 and s2: {10, 20, 30}

In [ ]:
#Question 4

lower = 600
upper = 800

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 600 and 800 are:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
L=[]
for x in range(100,1000):
    if (x%7==0) and (x%5==0):
        L.append(str(x))
print (','.join(L))

105,140,175,210,245,280,315,350,385,420,455,490,525,560,595,630,665,700,735,770,805,840,875,910,945,980

In [ ]:
#QUESTION 5 
def common_member(s1,s2):
	result = [i for i in s1 if i in s2]
	return result

s1 = [11,14,15,16,21,22,25,26,29,27]
s2= [13,12,17,22,25,24,20,18,16,23]

print("The common elements in the two lists are: ")
print(common_member(s1,s2))

The common elements in the two lists are:
[16, 22, 25]

In [ ]:
def unique(list1):
	unique_list = []
	for x in list1:
		if x not in unique_list:
			unique_list.append(x)
	for x in unique_list:
		print (x)

print("the unique values from 1st list is")
unique(s1)
print("\nthe unique values from 2nd list is")
unique(s2)

the unique values from 1st list is
11
14
15
16
21
22
25
26
29
27

the unique values from 2nd list is
13
12
17
22
25
24
20
18
16
23

In [ ]:
print("Original list:",s1,s2)
print ("maximum number of s1:",max(s1))
print ("maximum number of s2:",max(s2))

Original list: [11, 14, 15, 16, 21, 22, 25, 26, 29, 27] [13, 12, 17, 22, 25, 24, 20, 18, 16, 23]
maximum number of s1: 29
maximum number of s2: 25

In [ ]:
print("Original list:",s1,s2)
print ("minimum number of s1:",min(s1))
print ("minimum number of s1:",min(s1))

Original list: [11, 14, 15, 16, 21, 22, 25, 26, 29, 27] [13, 12, 17, 22, 25, 24, 20, 18, 16, 23]
minimum number of s1: 11
minimum number of s1: 11

In [ ]:
print("Original list:",s1,s2)
print ("sum number of s1:",sum(s1))
print ("sum number of s1:",sum(s2))

Original list: [11, 14, 15, 16, 21, 22, 25, 26, 29, 27] [13, 12, 17, 22, 25, 24, 20, 18, 16, 23]
sum number of s1: 206
sum number of s1: 190

In [ ]:
#QUESTION 6 

import random
print("Random integers between 100 and 900: ")
for i in range(100,900):
 y = random.randrange(900)
print(y)

Random integers between 100 and 900:

NameError: ignored

In [ ]:
odd_count = len(list (y(x%2 != 0) ,y))
even_count = len(list(y(x%2 == 0) ,y))
print("Even numbers available in the list: ", even_count)
print("Odd numbers available in the list: ", odd_count)

NameError: ignored

In [ ]:
fp=open('result.txt','w')	
for  i in range(600,800):
	fp.write(
      lower = 600
      upper = 800

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num))	
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

SyntaxError: ignored